<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Its\Database\Api\TicketRepositoryInterface" type="Its\Database\Model\ResourceModel\TicketRepository"/>
    <preference for="Its\Database\Api\Data\TicketInterface" type="Its\Database\Model\Ticket"/>

    <type name="Its\Database\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Its\Database\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">myCustomLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Its\Database\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>